@{
    ViewData["Title"] = "Home";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <p>At our marketplace, you can browse items or you can buy them after logging in</p>

    <img src="~/images/banner.png"/>
</div>
